#home {
    height: auto;
    padding: 22px;
    padding-top: 25vh;
    font-family: Palatino-Roman; 
    color: #796b6d;
    background-image: url('https://cdn.zeplin.io/6061ed0fe3392716f0cc504a/assets/BAA6C00D-05CF-4C28-8831-59E04D89969B.svg');
    background-position: center;
    background-size: unset; 
    background-repeat: no-repeat; 
    background-position-y: -20vw; 
}

#homeAbout {
    color: #796b6d;
    font-family: RalewayRoman;
}