#rapido { 
    padding-top: 25vh;
    background-image: url('https://cdn.zeplin.io/6061ed0fe3392716f0cc504a/assets/3ED0F65C-8235-4544-9C9A-FE45D427E6F0.svg');
    background-position: left top;
    background-size: cover; 
    background-size: 105vw; 
    background-repeat: no-repeat;   
    background-position-y: -110px;
}

.rapidoH {
    font-family: Palatino-Roman;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #15204e; 
}

.rapidoHp {
    font-family: Raleway;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #585757;
    text-align: left;
}

  

@media only screen and (max-width: 600px) {

    #rapido-logo {
        width: 110px !important;
    }
    #rapidoMainH {
        font-size: 20px !important;
    }
    #rapido {
        padding-left: 20px;
        padding-Right: 20px;    
        background-size: 115vh;   
    }
    #bnwimg {
        margin-left: auto !important;
        margin-top: 30px !important;
        width:85%
    }
    
  .showOnMobile {
    display: block !important;
  }
  .showOnDesktop {
    display: none;
  }
   }