 

#footer {  
  padding-top: 12vh; 
  color: #585757;
  bottom: 0px;  
}

#footer_white {   
  background-repeat: no-repeat !important;
  background-position: left top !important;
  background-size: cover !important;
  background-size: 140vw !important;
  background-position-x: -100px !important; 
  padding-top: 12vh; 
  color: #585757;
  bottom: 0px ; 
}
 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  #footer_left {
    text-align: center !important;
  }
  #footer_right {
    text-align: center !important;
  }
  .footer {
    background-size: auto !important;
  }
 }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
